.checkout_container{
    display: flex;
    width: 100%;
    max-width: 98%;
    margin: auto;
    margin-top: 20px;

    @media (max-width:767px) {
        flex-direction: column;
        
    }

    input, select {
        border: 1px solid black;
        border-radius: 4px;
        padding: 10px;
        margin: 10px 0px;
    }

    .flex_box{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 96%;

    }
    .name_input{
        width: 48%;
    }

    .full_input{
        width: 96%;
    }

    .select_input{
        width: 48%;
    }

    .check_box{
        margin-right: 5px;
    }

    .detail_box{
        flex: 1;

    }
    .payment_box{
        flex: 1;
        .payment_heading{
            font-size: 16px;
            font-weight: 600;
        }

        .payment_label{
            margin-left: 10px;

            img{
                display: inline-block;
            }
        }

    }
}