.header_container  {
    background-color: blueviolet;
    color: white;
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;
    font-size: 24px;
    position: fixed;
    width: -webkit-fill-available;

    @media (max-width:767px) {
        font-size: 14px;
    }

    .cart_icon{
        position: relative;
        cursor: pointer;
        margin-right: 10px;

        .count{
            position: absolute;
            font-size: 10px;
            background-color: black;
            right: -10px;
            top:  -10px;
            border-radius: 15px;
            padding: 3px 7px;
        }
    }
}