.productDetail_container{
    border: 1px solid #000;
    color: #000;
    width: 100%;
    max-width: 70%;
    margin: auto;
    margin-top: 1rem;
    border-radius: 5px;

    @media (max-width:767px) {
        max-width: 90%;
    }

    .err{
        color: red;
        font-size: 32px;
        text-align: center;

        @media (max-width:767px) {
            font-size: 18px;
        }
    }

    .product_heading{
        font-size: 48px;
        text-align: center;
        font-weight: 600;

        @media (max-width:767px) {
            font-size: 24px;
            
        }
    }

    .product_card{
        max-width: 50%;
        margin: auto;
        margin-top: 20px  !important;

        @media (max-width:767px) {
            margin-top: 5px !important;
        }
        .product_name{
            text-align: center;
            font-size: 24px;
            font-weight: 600;
            text-decoration: underline;

            @media (max-width:767px) {
                font-size: 14px;
                
            }
        }
        .img_container{
            display: flex;
            width: 30rem;
            height: auto;
            gap:10px;

            @media (max-width:767px) {
                width: 10rem;
                display: block;
                font-size: 12px;
                
            }
        }
    
        .size_container{
            display: flex;

            @media (max-width:767px) {
                padding-top:10px;
            }
            select {
            border: 1px solid;
            text-transform: uppercase;
            padding: 3px;
            margin-left: 5px;
        }
            p{
                padding-inline-end: 4px;
                text-transform: uppercase;

                @media (max-width:767px) {
                    font-size: 12px;
                }
    
            }
    
        }
        .price{
            font-weight: 500;
        }

    }

    .btn_container{
        text-align: center;
        width: 22rem;
        display: flex;
        flex-direction: column;
        gap:10px;

        @media (max-width:767px) {
            width: auto;
        }


        .add_cart_btn{
            cursor: pointer;
            padding: 10px;
            background-color: #000;
            color: #fff;
            width: 330px;
            margin-top: 10px;
            @media (max-width:767px) {
                width: 175px;
                padding: 5px 10px;
                
            }
        }

        .shop_btn{
            cursor: pointer;
            padding: 10px;
            background-color: #fff;
            color: #000;
            border: 1px solid #000;
            width: 330px;
            margin-bottom: 10px;
            @media (max-width:767px) {
                width: 175px;
                padding: 5px 10px;
                
            }
        }
    }

   
}